.cell-left-title {
    color: #333;
    font-weight: bold;
    padding-right: 1rem;
}

.search-bar {
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 10px 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
}
.search-component {
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px 5px 0;
    background-color: #f7f8fA;
    border-radius: 2px;
    padding-left: 10px;
    box-sizing: content-box;
}
.search-component i {
    font-size: 16px;
    vertical-align: middle;
}
.search-component input {
    width: 90%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    display: inline-block;
    color: #323233;
    box-sizing: border-box;
    background-color: transparent;
}
.select-area {
    display: flex;
    height: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.select-area span {
    width: 50%;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.select-area span:first-child {
    border-right: 1px solid #dfdfdf;
}
.select-area span select {
    border: none;
    color: #666;
}
.icon {
    display: inline-block;
}
.icon-down {
    background: url('../images/icon/icon-down.png') no-repeat;
    background-size: 12px;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    margin-left: 3px;
}
.content-list-title {
    display: flex;
    flex-direction: row;
    padding: 12px 30px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.content-list-title span {
    width: 30%;
    text-align: center;
}
.content-list-detail .cell-left {
    width: 100%;
    padding-left: 20px;
}
.content-list-detail .cell-left span {
    width: 30%;
    text-align: center;
}
.content-list-detail {
    margin-bottom: 0;
    overflow: auto;
    height: calc(100vh - 185px);
}
.container .g-scrollview:after {
    height: 0;
}
.cell-item >.cp {
    background: url('../images/icon/cp.png') no-repeat left center;
}
.cell-item >.un-cp {
    background: url('../images/icon/un-cp.png') no-repeat left center;
}
.detail-cell-input {
    text-align: right;
}
.save-area {
    padding: 0 30px;
}
.navbar-right {
    padding: 0 20px;
    order: 3;
    height: 0.9rem;
    line-height: 0.9rem;
    width: 30%;
    text-align: right;
    color: #3ed6ea;
    font-size: 14px;
}
.detail-cell-input-button {
    justify-content: flex-end;
}

/* webupload 控件样式调整 */
.webuploader-pick, .webuploader-pick-hover {
    width: 100%;
    text-align: right;
    background: transparent;
    color: #525252;
    padding: 0;
    line-height: 1rem;
    height: 1rem;
}
.file-item {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    float: none;
}

.history-tab .tab-panel .tab-panel-item {
    padding: 0;
}
.history-table-header .m-grids-5 {
    background-color: #F5F5F5;
}
.history-tab .m-grids-5 .grids-item:not(:nth-child(5n)):before {
    border-right: 0;
}
.history-tab .grids-item:after {
    border-bottom: 0;
}
.history-tab .grids-item {
    padding: .22rem 0;
}
.history-table-header .grids-txt {
    padding: 0;
    color: #666;
    font-size: 12px;
}
.history-table-body .grids-txt {
    padding: 0;
    color: #333;
    font-size: 12px;
}
.history-table-body {
    height: calc(100vh - 126px);
    overflow: auto;
}
.content-list-detail.m-cell:after {
    border-bottom: 0;
}